common --strategy=linux-sandbox
build --spawn_strategy=linux-sandbox

common --incompatible_python_disallow_native_rules
common --incompatible_use_python_toolchains

common --@rules_python//python/config_settings:bootstrap_impl=script

common --incompatible_strict_action_env
